.date{
    font-style: italic;
    font-family: Helvetica;
    font-weight: bold;

}
#p1{
    text-align: center;
    text-blink: true;

    font-weight: 600;
    font-family: "Helvetica Neue";

}
#dropdownMenu1{




    text-align: center;

    display: inline-block;

}
